.icon-logo img{
    width: 40px;
    height: 40px;
}
.icon-logo{
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.menu-buttons{
    margin-left: 50px;
}
nav{
    padding: 0px 50px;
    background-color: transparent !important;
}
.contacto-button{
    border: 1px solid rgba(0, 0, 0, 0.514);
    border-radius: 20px;
    box-shadow: none;
}