<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PODCAST</title>
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="../static/libraries/materialize/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="../static/css/podcast.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/util.css">
    <script src="../static/libraries/materialize/js/materialize.min.js"></script>
    <script src="../static/js/inititMaterializeItems.js" defer></script>
</head>

<body class="grey lighten-4">
    <div class="navbar-fixed">
        <nav class="grey lighten-4 ">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo icon-logo">
                    <img src="../static/img/logo.png" alt="">
                </a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                        class="material-icons grey-text text-darken-4">menu</i></a>
                <ul class="hide-on-med-and-down menu-buttons">
                    <li><a class="grey-text text-darken-4" href="../index.html">Estic</a></li>
                    <li><a class="grey-text text-darken-4" href="../templates/presentaciones.html">Presentaciones</a></li>
                    <li><a class="grey-text text-darken-4" href="#">Podcast</a></li>
                    <li><a class="grey-text text-darken-4" href="../templates/cursos.html">Cursos</a></li>
                    <li><a class="grey-text text-darken-4" href="../templates/noticias.html">Noticias</a></li>
                    <li class="right">
                        <a href="../templates/contacto.html"
                            class="grey-text text-darken-4 btn transparent contacto-button">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Estic</a></li>
        <li><a href="../templates/presentaciones.html">Presentaciones</a></li>
        <li><a href="../templates/podcast.html">Podcast</a></li>
        <li><a href="../templates/cursos.html">Cursos</a></li>
        <li><a href="../templates/noticias.html">Noticias</a></li>
        <li><a href="../templates/contacto.html">Contacto</a></li>
    </ul>



    <div class="uso-container">
        <div class="velo2 flex-column p-3">
            <h1 class="left titulo-txt">Podcast</h1>
            <p style="text-align: justify;" class="flow-text">
                Nuestro podcast explora temas de Tecnologías de la Información y Comunicación. Es producido por miembros de Grupo ESTIC y ofrece una visión más profunda de los temas abordados en presentaciones. 
               <br>
               <br>
               <a class="titulo-btn btn-large light-blue darken-2" href="https://www.youtube.com/@GrupoESTIC">Ver más</a>
            </p>
            
        </div>
        <img src="../static/img/Podcast1.png" alt="">
    </div>
  </div>

 
  <div class ="section">
    <img src="../static/img/cursos1.jpg" alt="">
    <div class="text">
      <h3>TIC al alcance de todos</h3>
      <p>Este proyecto sigue una cronología para explorar temas de las TIC, desde lo básico hasta lo avanzado. 
          Los presentadores, miembros de Grupo ESTIC, tienen amplia experiencia y abordan los temas de manera clara y accesible. 
          Si buscas aprender más sobre las TIC, escucha nuestro podcast y comparte tus comentarios y sugerencias.</p>
    </div>
      

  </div>

    <br>
    <br>

    <iframe 
      src="https://www.youtube.com/embed?listType=playlist&list=UUmEzbeGpFLo72p9bEiTym6g">
    </iframe>

    <iframe
      src="https://www.youtube.com/embed?listType=playlist&list=UUmEzbeGpFLo72p9bEiTym6g&index=2">
    </iframe>

    <iframe
      src="https://www.youtube.com/embed?listType=playlist&list=UUmEzbeGpFLo72p9bEiTym6g&index=3">
    </iframe>
  
    <iframe
      src="https://www.youtube.com/embed?listType=playlist&list=UUmEzbeGpFLo72p9bEiTym6g&index=4">
    </iframe>

<br>
<br>


    

  <footer class="page-footer light-blue darken-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Grupo ESTIC</h5>
            <p class="grey-text text-lighten-4">Facultad de informática, Universidad Autónoma de Querétaro.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Redes sociales</h5>
            <ul class="redes-sociales">
              <li><a class="grey-text text-lighten-3 flex-center p-1" href="https://www.facebook.com/ESTICFIFUAQ"><img src="../static/img/facebook.png" alt="">Facebook</a></li>
              <li><a class="grey-text text-lighten-3 flex-center p-1" href="https://www.tiktok.com/@estic_uaq"><img src="../static/img/tik-tok (1).png" alt="">Tiktok</a></li>
              <li><a class="grey-text text-lighten-3 flex-center p-1" href="https://www.instagram.com/estic_fif.uaq/"><img src="../static/img/instagram.png" alt="">Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
         © 2024 Copyright 
        <a class="grey-text text-lighten-4 right" href="tel:4424545000">
          <span class="flex-center">
              <li class="material-icons">call</li>
              Llámanos 
          </span>
        </a>
        </div>
      </div>
</body>

</html>